body{
    background-color: #7facf4;
}

#right-button{
    float:right;
}
#left-button{
    float:left;
}
#return-link{
    bottom: 10px;
}

.image-container{
    align-content:center;
}
#tour-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%
    
}