h1{
    color: #858585;
    font-Size: 300%;
}
.border { border-width: 25px; border-color: #D0E8E8; border-style: solid; }
div{
    LINE-HEIGHT: 25px;
}
a{
    font-size: 200%;
    color: red;
}
#p1{
    font-Size: 130%;
}
body{
    background-color: #D0E8E8;
}
#right-button{
    float:right;
}
#left-button{
    float:left;
}
#return-link{
    bottom: 10px;
}

.image-container{
    align-content:center;
}
#tour-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
    
}